interactions:
- request:
    body: '{"id": "11111111-1111-1111-1111-111111111111", "name": "Test Domain", "description":
      "Lorem Ipsum"}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: PUT
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"message":"Data domain not found","errorCode":"DATA_DOMAIN_NOT_FOUND","metadata":{"domainId":"11111111-1111-1111-1111-111111111111"}}

        '
    headers:
      Content-Type:
      - application/json
      X-Insights-Error-Message:
      - Data domain not found
    status:
      code: 404
      message: Not Found
version: 1
