interactions:
- request:
    body: '{"id": "ac837279-65ea-46f8-8b00-0a3d9d0c7291", "name": "Name Changed",
      "description": "Lorem Ipsum"}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: PUT
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains/ac837279-65ea-46f8-8b00-0a3d9d0c7291
  response:
    body:
      string: '{"id":"ac837279-65ea-46f8-8b00-0a3d9d0c7291","name":"Test Domain","description":"Lorem
        Ipsum","assignedDataProducts":[],"createdBy":"merlin","createdAt":"2023-08-15T14:28:21.923704Z","updatedAt":"2023-08-15T14:28:22.920785Z","updatedBy":"merlin"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
