interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: GET
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains/525674f7-15f8-4089-baae-93683b699bb4
  response:
    body:
      string: '{"id":"525674f7-15f8-4089-baae-93683b699bb4","name":"Test Domain","assignedDataProducts":[],"createdBy":"merlin","createdAt":"2023-08-16T10:29:02.791173Z","updatedAt":"2023-08-16T10:29:02.791173Z","updatedBy":"merlin"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
