interactions:
- request:
    body: '{"id": "525674f7-15f8-4089-baae-93683b699bb4", "name": "Name Changed",
      "description": "Lorem Ipsum"}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: PUT
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains/525674f7-15f8-4089-baae-93683b699bb4
  response:
    body:
      string: '{"id":"525674f7-15f8-4089-baae-93683b699bb4","name":"Test Domain","description":"Lorem
        Ipsum","assignedDataProducts":[],"createdBy":"merlin","createdAt":"2023-08-16T10:29:02.791173Z","updatedAt":"2023-08-16T10:29:03.674662Z","updatedBy":"merlin"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
