interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: GET
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains
  response:
    body:
      string: '[{"id":"e3ce7749-2548-4dda-931f-6fdf343ec26a","name":"ESG","description":"API
        generated Domain","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"17597f6e-4b52-4505-bf3b-3544a026ae52","name":"Environmental"}],"createdBy":"merlin","createdAt":"2023-08-10T13:44:08.410358Z","updatedAt":"2023-08-10T13:44:08.410358Z","updatedBy":"merlin"},{"id":"c6889a69-353d-4dec-8502-ecbd992c24b9","name":"Customer","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"d740a24e-c6e9-4d3f-bf71-63227640143c","name":"Burst
        Bank Customer"}],"createdBy":"merlin","createdAt":"2023-08-10T13:44:08.555818Z","updatedAt":"2023-08-10T13:44:08.555818Z","updatedBy":"merlin"},{"id":"525674f7-15f8-4089-baae-93683b699bb4","name":"Test
        Domain","description":"Lorem Ipsum","assignedDataProducts":[],"createdBy":"merlin","createdAt"[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: DELETE
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains/525674f7-15f8-4089-baae-93683b699bb4
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
