interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: GET
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains
  response:
    body:
      string: '[{"id":"e3ce7749-2548-4dda-931f-6fdf343ec26a","name":"ESG","description":"API
        generated Domain","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"17597f6e-4b52-4505-bf3b-3544a026ae52","name":"Environmental"}],"createdBy":"merlin","createdAt":"2023-08-10T13:44:08.410358Z","updatedAt":"2023-08-10T13:44:08.410358Z","updatedBy":"merlin"},{"id":"c6889a69-353d-4dec-8502-ecbd992c24b9","name":"Customer","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"d740a24e-c6e9-4d3f-bf71-63227640143c","name":"Burst
        Bank Customer"}],"createdBy":"merlin","createdAt":"2023-08-10T13:44:08.555818Z","updatedAt":"2023-08-10T13:44:08.555818Z","updatedBy":"merlin"},{"id":"d8b34c31-dba7-47fd-87ef-73778e2ad675","name":"Meta","description":"Lorem
        Ipsum","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"ae5d81d8-bda3-4cfc-9354-ad2d26f74591","name":"Federation
        Sample Product"},{"id":"11899a03-33b9-499b-a1fd-307869ebf64b","name":"Test
        Product"},{"id":"b74f7f98-98eb-4bb5-b227-8a5e2b2d1ac3","name":"Product Without
        Owner"},{"id":"7078d55e-3d6e-4542-a469-dbbdc159c1c9","name":"Product Without
        Datasets"}],"createdBy":"merlin","createdAt":"2023-07-31T20:55:46.973982Z","updatedAt":"2023-07-31T21:03:10.865809Z","updatedBy":"merlin"},{"id":"d10034b4-6ade-48e4-a927-b41fc2c0f05f","name":"Risk","description":"Lorem
        Ipsum","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"602f5a94-de75-4061-befd-5f7fc2aacda4","name":"Regulatory
        Reporting"}],"createdBy":"merlin","createdAt":"2023-07-31T20:55:46.981126Z","updatedAt":"2023-07-31T21:03:10.873891Z","updatedBy":"merlin"}]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
