interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: GET
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains
  response:
    body:
      string: '[{"id":"e3ce7749-2548-4dda-931f-6fdf343ec26a","name":"ESG","description":"API
        generated Domain","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"17597f6e-4b52-4505-bf3b-3544a026ae52","name":"Environmental"}],"createdBy":"merlin","createdAt":"2023-08-10T13:44:08.410358Z","updatedAt":"2023-08-10T13:44:08.410358Z","updatedBy":"merlin"},{"id":"c6889a69-353d-4dec-8502-ecbd992c24b9","name":"Customer","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"d740a24e-c6e9-4d3f-bf71-63227640143c","name":"Burst
        Bank Customer"}],"createdBy":"merlin","createdAt":"2023-08-10T13:44:08.555818Z","updatedAt":"2023-08-10T13:44:08.555818Z","updatedBy":"merlin"},{"id":"d8b34c31-dba7-47fd-87ef-73778e2ad675","name":"Meta","description":"Lorem
        Ipsum","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"ae5d81d8-bda3-4cfc-9354-ad2d26f74591","name":"Federation
        Sample Product"}],"createdBy":"merlin","createdAt":"2023-07-31T20:55:46.973982Z","updatedAt":"2023-07-31T21:03:10.865809Z","updatedBy":"merlin"},{"id":"d10034b4-6ade-48e4-a927-b41fc2c0f05f","name":"Risk","description":"Lorem
        Ipsum","schemaLocation":"file:///tmp/","assignedDataProducts":[{"id":"602f5a94-de75-4061-befd-5f7fc2aacda4","name":"Regulatory
        Reporting"}],"createdBy":"merlin","createdAt":"2023-07-31T20:55:46.981126Z","updatedAt":"2023-07-31T21:03:10.873891Z","updatedBy":"merlin"}]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: GET
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/products/17597f6e-4b52-4505-bf3b-3544a026ae52
  response:
    body:
      string: '{"id":"17597f6e-4b52-4505-bf3b-3544a026ae52","name":"Environmental","catalogName":"objectstore","schemaName":"environmental","dataDomainId":"e3ce7749-2548-4dda-931f-6fdf343ec26a","summary":"Datasets
        for Environmental datasets to feed ESG reporting and analysis","description":"#
        Data Quality Control\n\n![Control](https://tnkxfktfanmo5gdluckw5l745i0nphej.lambda-url.us-east-2.on.aws/?id=1)\n\n#
        Federated Data Sources\n`Parts  -\u003E SQL Server` \n`Supliers -\u003E Postgres`
        \n`Geographic  -\u003E  AWS Data Lake` \n\n# ESG\n\n\n![ESG](https://www.saltworkstech.com/wp-content/uploads/2021/07/ESG-Circle-Banner.jpg)","createdBy":"merlin","status":"PUBLISHED","views":[{"name":"precipitations","createdBy":"merlin","definitionQuery":"select
        * from tpch.tiny.region","status":"PUBLISHED","columns":[{"name":"regionkey","type":"bigint","description":""},{"name":"name","type":"varchar(25)","description":""},{"name":"comment","type":"varchar(152)","description":""}],"markedForDeletion":false,"createdAt":"2023-08-10T14:04:18.257957Z","updatedAt":"2023-08-10T14:04:18.257957Z","updatedBy":"merlin","publishedAt":"2023-08-10T14:04:18.673324Z","publishedBy":"merlin","matchesTrinoDefinition":true},{"name":"temperatures","description":"Global
        temperatures in regions","createdBy":"merlin","definitionQuery":"select *
        from tpch.tiny.nation","status":"PUBLISHED","columns":[{"name":"nationkey","type":"bigint","description":""},{"name":"name","type":"varchar(25)","description":""},{"name":"regionkey","type":"bigint","description":""},{"name":"comment","type":"varchar(152)","description":""}],"markedForDeletion":false,"createdAt":"2023-08-10T14:04:18.257957Z","updatedAt":"2023-08-10T14:04:18.257957Z","updatedBy":"merlin","publishedAt":"2023-08-10T14:04:18.715216Z","publishedBy":"merlin","matchesTrinoDefinition":true}],"materializedViews":[],"owners":[{"name":"Victor
        Coustenoble","email":"victor.coustenoble@starburstdata.com"}],"relevantLinks":[{"label":"ESG
        Investing (OECD)","url":"https://www.oecd.org/finance/esg-investing.htm"},{"label":"ESG
        datasets","url":"https://databank.worldbank.org/source/environment-social-and-governance-(esg)-data"},{"label":"European
        Environment Agency datasets ","url":"https://www.eea.europa.eu/themes/air/data-and-maps/data#c0=5\u0026c11=\u0026c5=all\u0026b_start=0"}],"createdAt":"2023-08-10T14:04:18.257957Z","updatedAt":"2023-08-10T14:07:49.865680Z","updatedBy":"merlin","publishedAt":"2023-08-10T14:04:18.716973Z","publishedBy":"merlin","accessMetadata":{},"ratingsCount":0,"userData":{"isBookmarked":false},"matchesTrinoDefinition":true,"bookmarkCount":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
