interactions:
- request:
    body: '{"name": "", "catalogName": "objectstore", "dataDomainId": "d8b34c31-dba7-47fd-87ef-73778e2ad675",
      "summary": "Generated by PyTest", "description": "Generated by PyTest", "owners":
      [{"name": "Test", "email": "test@example.com"}], "views": [{"name": "test_view",
      "definitionQuery": "select 1 as one"}]}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: POST
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/products
  response:
    body:
      string: '{"errorCode":"INVALID_ARGUMENT","message":"Invalid value for argument:
        schemaName: value is required and may not be blank\nname: value is required
        and may not be blank, may not have spaces at the beginning or end\n"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
