interactions:
- request:
    body: '{"name": "Product Without Datasets", "catalogName": "objectstore", "dataDomainId":
      "d8b34c31-dba7-47fd-87ef-73778e2ad675", "summary": "Generated by PyTest", "description":
      "Generated by PyTest", "owners": [{"name": "Test", "email": "test@example.com"}],
      "views": []}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: POST
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/products
  response:
    body:
      string: '{"id":"7078d55e-3d6e-4542-a469-dbbdc159c1c9","name":"Product Without
        Datasets","catalogName":"objectstore","schemaName":"product_without_datasets","dataDomainId":"d8b34c31-dba7-47fd-87ef-73778e2ad675","summary":"Generated
        by PyTest","description":"Generated by PyTest","createdBy":"merlin","status":"DRAFT","views":[],"materializedViews":[],"owners":[{"name":"Test","email":"test@example.com"}],"relevantLinks":[],"createdAt":"2023-08-16T10:29:02.247344Z","updatedAt":"2023-08-16T10:29:02.247344Z","updatedBy":"merlin","ratingsCount":0,"userData":{"isBookmarked":false},"bookmarkCount":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
