interactions:
- request:
    body: '{"name": "Test Product", "catalogName": "objectstore", "dataDomainId":
      "d8b34c31-dba7-47fd-87ef-73778e2ad675", "summary": "Generated by PyTest", "description":
      "Generated by PyTest", "owners": [{"name": "Test", "email": "test@example.com"}],
      "views": [{"name": "test_view", "definitionQuery": "select 1 as one"}]}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: POST
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/products
  response:
    body:
      string: '{"id":"11899a03-33b9-499b-a1fd-307869ebf64b","name":"Test Product","catalogName":"objectstore","schemaName":"test_product","dataDomainId":"d8b34c31-dba7-47fd-87ef-73778e2ad675","summary":"Generated
        by PyTest","description":"Generated by PyTest","createdBy":"merlin","status":"DRAFT","views":[{"name":"test_view","createdBy":"merlin","definitionQuery":"select
        1 as one","status":"DRAFT","columns":[],"markedForDeletion":false,"createdAt":"2023-08-16T10:29:00.918653Z","updatedAt":"2023-08-16T10:29:00.918653Z","updatedBy":"merlin"}],"materializedViews":[],"owners":[{"name":"Test","email":"test@example.com"}],"relevantLinks":[],"createdAt":"2023-08-16T10:29:00.918653Z","updatedAt":"2023-08-16T10:29:00.918653Z","updatedBy":"merlin","ratingsCount":0,"userData":{"isBookmarked":false},"bookmarkCount":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
