interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: GET
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/products/b74f7f98-98eb-4bb5-b227-8a5e2b2d1ac3
  response:
    body:
      string: '{"id":"b74f7f98-98eb-4bb5-b227-8a5e2b2d1ac3","name":"Product Without
        Owner","catalogName":"objectstore","schemaName":"product_without_owner","dataDomainId":"d8b34c31-dba7-47fd-87ef-73778e2ad675","summary":"Generated
        by PyTest","description":"Generated by PyTest","createdBy":"merlin","status":"DRAFT","views":[{"name":"test_view","createdBy":"merlin","definitionQuery":"select
        1 as one","status":"DRAFT","columns":[],"markedForDeletion":false,"createdAt":"2023-08-16T10:29:02.111927Z","updatedAt":"2023-08-16T10:29:02.111927Z","updatedBy":"merlin"}],"materializedViews":[],"owners":[],"relevantLinks":[],"createdAt":"2023-08-16T10:29:02.111927Z","updatedAt":"2023-08-16T10:29:02.111927Z","updatedBy":"merlin","ratingsCount":0,"userData":{"isBookmarked":false},"bookmarkCount":0}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
