interactions:
- request:
    body: '{"name": "Product 7", "catalogName": "objectstore", "dataDomainId": "11111111-1111-1111-111111111111",
      "summary": "Generated by PyTest", "description": "Generated by PyTest", "owners":
      [{"name": "Test", "email": "test@example.com"}], "views": [{"name": "test_view",
      "definitionQuery": "select 1 as one"}]}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: POST
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/products
  response:
    body:
      string: "io.airlift.jaxrs.JsonMapperParsingException: Invalid json for Java
        type com.starburstdata.presto.dataproduct.requests.DataProductPayload\n\tat
        io.airlift.jaxrs.AbstractJacksonMapper.readFrom(AbstractJacksonMapper.java:124)\n\tat
        io.airlift.jaxrs.JsonMapper.readFrom(JsonMapper.java:44)\n\tat org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$TerminalReaderInterceptor.invokeReadFrom(ReaderInterceptorExecutor.java:233)\n\tat
        org.glassfish.jersey.messag[...]
