interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: GET
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/products/11111111-1111-1111-1111-111111111111/sampleQueries
  response:
    body:
      string: '{"errorCode":"ENTITY_NOT_FOUND","message":"Data product not found","details":{"type":"EntityIdentifier","entityType":"DATA_PRODUCT","entityId":"11111111-1111-1111-1111-111111111111","type":"EntityIdentifier"},"detailsType":"EntityIdentifier"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
