interactions:
- request:
    body: '{"name": "Test Domain"}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: POST
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains
  response:
    body:
      string: '{"message":"Attempt to add duplicate data","errorCode":"DUPLICATE_DATA","metadata":{"details":"org.jdbi.v3.core.statement.UnableToExecuteStatementException:
        org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique
        constraint \"data_domain_unique\"\n  Detail: Key (name)=(Test Domain) already
        exists. [statement:\"INSERT INTO data_domain (id, name, description, created_by,
        created_at, updated_at, updated_by, schema_location) VALUES (:id, :name, :description,
        :createdBy, :createdAt, :updatedAt, :updatedBy, :schemaLocation)\", arguments:{positional:{},
        named:{}, finder:[{lazy bean property arguments \"DataDomainRecord{id=f01908f2-3c28-441a-a5ac-89263084f6bd,
        name=\u0027Test Domain\u0027, description=Optional.empty, createdBy=merlin,
        createdAt=2023-08-25T14:36:16.998477559Z, updatedAt=2023-08-25T14:36:16.998477559Z,
        updatedBy=\u0027merlin\u0027, schemaLocation=Optional.empty}\"}]}]"}}

        '
    headers:
      Content-Type:
      - application/json
      x-insights-error-message:
      - Attempt to add duplicate data
    status:
      code: 409
      message: Conflict
version: 1
