interactions:
- request:
    body: '{"id": "b2334596-fbf6-42de-97b1-ff5714a55bd6", "name": "Test Domain", "description":
      "Lorem Ipsum"}'
    headers:
      Authorization:
      - Basic bWVybGluOg
      Content-Type:
      - application/json
      X-Trino-User:
      - merlin
    method: PUT
    uri: https://starburst.ottensa.dev/api/v1/dataProduct/domains/b2334596-fbf6-42de-97b1-ff5714a55bd6
  response:
    body:
      string: '{"id":"b2334596-fbf6-42de-97b1-ff5714a55bd6","name":"Test Domain","description":"Lorem
        Ipsum","assignedDataProducts":[],"createdBy":"merlin","createdAt":"2023-08-25T14:36:16.628418Z","updatedAt":"2023-08-25T14:36:17.392313Z","updatedBy":"merlin"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
